/* I am using Koulen and Ubuntu as the fonts for my website
 * They are provided by Google Fonts
 * Koulen's license: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
 * Ubuntu's font license: https://font.ubuntu.com/ufl/
 */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300&display=swap');

body {
    margin: 0;

    color: #FFF;
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Koulen', cursive;
}

#top-bar {
    background-color: hsl(212, 43%, 37%);
}

#top-bar > h1 {
    margin: auto;
}

#about-us {
    background-color: hsl(330, 32%, 41%);
    display: flex;
    flex-direction: column;
}

#centre-contact-details {
    display: flex;
    flex-direction: column;
}

#centre-contact-details iframe {
    border: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#first-seperating-image {
    background-image: url(../images/man-climbing-wall.jpg);
    height: 33vw;
    background-position: center 25%;
    background-size: cover;
}

#why-you-should-climb {
    background-color: hsl(10, 66%, 45%);
}

#weekly-events {
    background-color: hsl(31, 82%, 47%);
}

#sign-up {
    background-color: hsl(33, 57%, 49%);
}

footer {
    background-color: hsl(35, 38%, 52%);
}

@media screen and (min-width: 768px) {
    #about-us {
        display: grid;
        column-gap: 1em;
    }

    #about-us h2 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #who-are-we {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #climbing-equipment-available {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #centre-contact-details {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    #first-seperating-image {
        height: 320px;
    }
}
