/* I am using Koulen and Ubuntu as the fonts for my website
 * They are provided by Google Fonts
 * Koulen's license: https://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL
 * Ubuntu's font license: https://font.ubuntu.com/ufl/
 */

@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Ubuntu:wght@300&display=swap');

#centre-location iframe {
    border: 0;
    margin: 0;
}

body {
    color: #FFF;
    background-color: #000;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Koulen', cursive;
}

#top-bar {
    background-color: #83291F;
}

#top-bar > h1 {
    margin: auto;
}

@media screen and (min-width: 768px) {
    #about-us-info {
        display: grid;
        column-gap: 1em;
    }

    #about-us-info #who-are-we {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    #about-us-info #climbing-equipment-available {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #centre-location {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
    }
}
